<p class="what">What is Moonitor?</p>
Moonitor is a dbus monitoring suite for emerge with KDE panel support, a Qt Widget and an ncurses CLI.
<p class="what">Get it</p>
You can clone the code directly from our git repository
<code>git clone git://moonitor.org/moonitor.git</code>
<code>cd moonitor</code>
<code>cmake .</code>
<code>make &amp;&amp; make install</code>
<br/>or fetch it via layman
<code>layman -f -o http://moonitor.org/moonitor.xml -a moonitor</code>
<code>emerge app-portage/moonitor</code>
<p class="what">How to contribute?</p>
