<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Moonitor :: gentoo linux emerge monitor and overlay</title>
    <link type="text/css" href="/base.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <img class="logo" src="/logo.jpg"/>
      </div>
      <div id="navbar">
        <ul id="menu">
          <li><a href="/">moonitor</a></li>
          <li><a href="/overlay/">overlay</a></li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">Powered by <a href="http://sinatrarb.com">Sinatra</a> and <a href="http://grit.rubyforge.org">Grit</a> | Logo &copy; 2008 N. Kittel</div>
    </div>
  </body>
</html>
